<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        ">
	
	<!-- 
		1.打开注解
		2.扫描包
	-->
	<context:annotation-config/>
	<context:component-scan base-package="com.cuiboshi"/>
	
	<!-- 导入Hibernate配置 -->
	<import resource="classpath:context-dao.xml"/>
	
	<!--  
		Spring 对于注解方式配置的Bean一共有四个
		@Controller		//控制层
		@Service		//业务逻辑层
		@Repository		//数据访问层
		@Componet
	-->
	
	
	<!-- <bean id="loginAction" class="com.cuiboshi.action.LoginAction">
		<property name="userService" ref="userServiceImpl"></property>
	</bean> -->
	
	
	
	
	
	<!-- <bean id="userDao" class="com.cuiboshi.dao.impl.UserDaoImpl">
		<property name="template" ref="hibernateTemplate" />
	</bean> -->
	
	<!-- <bean id="userServiceImpl" class="com.cuiboshi.service.Impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean> -->
	
</beans>